* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #191923;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header {
    padding: 30px 10% 30px 3%;  
}
.main {
    width: 67%;
    position: relative;
    float: right;
    margin-right: 5%;
}

.column {
    float: left;
    width: 50%;
    color: #ffffff;
}
.row:after {
   content: "";
   display: table;
   clear: both;
}
.card {
    background-color: #2C2C38;
    color: #8C8C8E;
    width: 85%;
    padding: 20px;
    line-height: 25px;
    margin-top: 30px;
}

.space-float {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
#datum span {
    background-color: #191923;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px transparent solid;
    border-radius: 20px;
    font-size: 14px;
}

.place {
    color: #ffffff;
}
.function {
    font-style: italic;
    margin-top: -13px;
}
#goBack {
    color: #000;
    background-color: #ffffff;
    border: 1px solid none;
    border-radius: 30px;
    padding: 13px;
    font-weight: 900;
    font-size: 14px;
    cursor: pointer;
}