* {
    margin: 0;
    font-size: 16px;
}
body {
    background: linear-gradient(to right, #FFBF0A 0%, #FFBF0A 100%);
    font-size: 12px;
  }
  body, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  .app-form-button {
    background: none;
    border: none;
    color: #FFBF0A;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #e7aa00;
  }
  .screen {
    margin: 20px;
    position: relative;
    background: #3e3e3e;
    border-radius: 8px;
    color: #ffffff;
    padding: 10px;
    width: auto;
    display: inline-block;
  }
.inputPass {
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    outline: none;
}
  